<h1 class="index">Todos</h1>
<p class="paragraph"><%= link_to 'Create Todo', new_page_path %></p>
<% @pages.each do |page| %>
  <h2 class="title"><%= page.title %></h2>
  <%= link_to 'Show Todo', page_path(page) %>
  <%= link_to 'Edit', edit_page_path(page) %>
  <%= link_to 'Delete', page, method: :delete%>
<% end %>